@model System.Collections.Generic.List<workshop_asp_net_core_mvc.Models.Department>

@{
    Layout = workshop_asp_net_core_mvc.PagesIndex;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>